body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}

.information .title{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1f2937;
}

figure{
    background-color: #E5E7EB;
    margin:48px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 280px;
    justify-content: center;
}

blockquote{
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width:800px;
    margin-bottom: 12px;
}

p{
    margin:0;
}

 figcaption{
     font-size: 24px;
     font-weight: bold;
     align-self: flex-end;
     width:800px;
     display: flex;
     justify-content: center;


 }

.signup{
    display: flex;
    width: 48em;
    height: 120px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius:6px;
    font-size: 18px;
    margin: 48px;
}

.signup, .signup button{
    background-color: #3882f6;
    color: white;

}

.signup .header{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.signup .text{
    margin-top: 12px;
}

.signup button{
    border:2px white solid;
    height: 40px;
    width:auto;
    border-radius:6px;
    padding-inline:24px;
    font-weight: bold;
}

footer{
    background-color: #1f2937;
    color:beige;
    height:82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
