body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.header, footer{
    background-color: #1f2937;
    color: #f9faf8;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top, ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

ul{
    gap: 48px;
    margin: 0;
    padding: 0;
}

.information{
    margin: 48px;
}

.information .title{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    text-align: center;
    margin: 36px;
}

.container{
    display: flex;
    gap: 32px;
    font-size: 18px;
}

img{
    width: auto;
    height:180px;
}

.card .text{
    text-align: center;
}
figure{
    background-color: #E5E7EB;
    margin:48px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 280px;
    justify-content: center;
}

blockquote{
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width:800px;
    margin-bottom: 12px;
}

p{
    margin:0;
}

 figcaption{
     font-size: 24px;
     font-weight: bold;
     align-self: flex-end;
     width:800px;
     display: flex;
     justify-content: center;
 }

.signup{
    display: flex;
    width: 48em;
    height: 120px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius:6px;
    font-size: 18px;
    margin: 48px;
}

.signup, button{
    background-color: #3882f6;
    color: white;
}

.signup .upper{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.signup .text{
    margin-top: 12px;
}

button{
    border:2px white solid;
    height: 40px;
    width:auto;
    border-radius:6px;
    padding-inline:24px;
    font-weight: bold;
}

footer{
    height:82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
